
li{
  display: flex;
  width: 90px;
  height: 35px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
li:hover{
  background-color: #384766;
  cursor: pointer;
}
p{
  font-family: 'Helvetica';
}

.addRemoveIcon{
  display: flex;
  margin: 5px;
  width: 25px;
  height: 25px;
  background-color: rgb(224, 223, 223);
  align-self: center;
  border-radius: 6px;
  border: 1px solid rgb(85, 85, 85);

}

.addRemoveIcon:active{
  background-color: rgb(210, 161, 223);
}

.links{
  text-decoration: none;
  color: white;
}

.gridmargin{
  display: grid;
  width: 100px;
  height: 100px;
}

#cartProducto{
  font-size: x-large;
  font-weight: bold;
  font-family: 'Helvetica';
}

#bttnAgregar{
  display: flex;
  margin-left: 10px;
}

#bttnEliminar{
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
}

#cartWidget{
  display:flex;
  width: 40px;
  top: 50%;
  justify-content: center;
  align-items: center;
}
#cartWidget:hover{
  cursor: pointer;
}

.App {
  text-align: center;
  background-color: #f2f2f2;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#navBar{
  display: flex;
  background-color: #282c34;
  /*color: white;*/
  justify-content: space-around;

}

#titleBrand{
  display: flex;
  margin-left: 80px;
  padding: 0px;
  top: 50%;
  font-family: 'Segoe UI';
  justify-self: left;
  align-items: center;

}

#menuNavBar{
  display: flex;
  margin-right: 80px;
  padding: 0px;
  font-family: 'Segoe UI';
}

#itemListContainer{
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 0px;
}

#gridProductos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

/*#itemSolo{
  
}*/

#fotoSola{
  border: solid 1px black;
  box-shadow: 2px 5px 8px rgb(131, 131, 131);
}

#bttnsCantidad{
  display: flex;
  margin: 10px;
  justify-content: center;
}

#itemCountQuantity{
  width: 50px;
}

#gridProductoSolo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;

}

#gridProductoCart{
  display: grid;
  background-color: rgb(216, 216, 216);
  grid-template-columns: 1fr 2fr 1fr;
  width: 80%;
  margin-top: 0px;
  margin-left: 10%;
  margin-bottom: 20px;
}

#cartPhoto{
  display: flex;
  height: 250px;
  padding-left: 15px;
}





/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
